/* background-image: url("./code.jpg"); */


body {
    margin: 0px;
}

.lineunder {
    text-decoration: none;
    color: white;
}

.topSection {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

footer {
    background: #151515;
}

.introContainer {
   height: 100%;
   width: 100%;
   background-image: url("./codeworld.jpg");
   background-size: cover;
   filter: blur(3px);
   transform: scale(1.1);
}

#profPicID {
    transform: scale(1);
}



#profPicID:hover {
    cursor: pointer;
}

.introText {
    color: white;

}

.topSecContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 40%;
    width: 100%;
    opacity: 0;

}

.topSecContent h3 {
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 2.5rem;
    line-height: 1.2em;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

.topSecContent a {
    height: 45px;
    width: 160px;
    background: rgba(255, 56, 95, 0);
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
    line-height: 2.5;
}



.inline1 {
    color: #FF385F;
} 

 /* .navbarContent {
    z-index: 3;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
} */



#JHlogo {
    color: white;
    margin-left: 30px;
    font-family: 'Aclonica';
    font-size: 30px;
    position: fixed;
    z-index: 3;
    top: 12px;
    z-index: 6;
} 

#MenuLogo {
    color: white;
    margin-right: 80px;
    position: fixed;
    z-index: 3;
    top: 12px;
    left: 95%;
    z-index: 6;
}



.clickPointer:hover {
    cursor: pointer;
}

#firstLine {
    transform: translateX(-400px);
}

#secondLine {
    transform: translateX(400px);
}

.secondSection {
    height: 60px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    background-color: #151515;
    border-bottom: 3px solid #3AE2D5;
    z-index: 3;
}


.secondSection a {
    font-size: 1.3rem;
    margin: 15px 30px;
    font-family: 'Athiti';
    color: white;
}

.profpic {
    border-radius: 50%;
    width: 300px;
    height: auto;
     border: 4px solid #3AE2D5;
     padding: 5px; 
}

.secondSecContent {
    width: 500px;
}

.secondSecWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
   
}

h2 {
  text-align: center;  
}

.secondSecContent p {
    font-size: 1.4rem;
    font-family: 'Athiti';
}

.introTitle {
    font-size: 2.6rem;
    color: black;
    font-family: 'Alegreya Sans SC';
    margin: 0px;
    margin-top: 25px;

}

.shortLine {
    width: 100px;
    height: 10px;
    border-bottom: 7px solid #FF385F;
    text-align: center;

    opacity: 0;
}

.shortLineCover {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsTitle {
    font-size: 2.6rem;
    color: black;
    font-family: 'Alegreya Sans SC';
    margin: 0px;
    padding-top: 25px;
    background-color: #E1E1E1;
}

#aaaa {
    transform: translateY(-20px);
    opacity: 0;
}


.projectOne {
    
    width: 500px; 
    height: 250px;
    border: 5px solid #3AE2D5;
    border-radius: 10px;
    padding: 5px;
}

#griipeScale {
    display: flex;
    justify-content: center;
    height: 275px;
}

#griipeScalerZ {
    transform: scale(1);
}

#griipeScalerX {
    transform: scale(1);
}

#griipeScalerY {
    transform: scale(1);
}

#griipeScalerX2 {
    display: flex;
    justify-content: center;
    height: 280px;
}


.griipeContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E1E1E1;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.griipeText {
    width: 500px;
}

.griipeText {
    font-size: 1.4rem;
    font-family: 'Athiti';
}

.griipeText h3 {
    text-align: center;
}

.shortLineCover2 {
    background: #E1E1E1;
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    font-size: 1.1rem;
}

.secondg {

    flex-direction: row;
    background: #444444;
    padding: 60px 0px;
}

.secondg p {
    color: white;
}

.secondg h3 {
    color: white;
}

.secondg img {
    border: 5px solid #FF385F;
}

.thirdg {
    background: white;
}

.wayve {
    width: 100%;
    height: 50px;
    background: #E1E1E1;
}

.wayve2 {
    width: 100%;
    height: 20px;
    background: #444444;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wayve3 {
   height: 80px;
   width: 100%;
   background-color: #151515;
   border: 0;
   
}

.plusone {
    color: #FF385F;
    background: #151515;
    padding: 0;
    font-size: 1.7rem;
  
}

footer div {
    display: flex;
    justify-content: center;
    background-color: #151515;
    padding: 10px 0px;

}

footer div i {
    background: #151515;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    margin: 20px;
}

 .gitt {
    background: #FF385F;
    color: #151515;
}

.twitt:hover {
    background: #c72c4a;
    cursor: pointer;
}

.gitt:hover {
    background: #c72c4a;
    cursor: pointer;
}

.instt:hover {
    background: #c72c4a;
    cursor: pointer;
}

.linkk:hover {
    background: #c72c4a;
    cursor: pointer;
}

.twitt {
    background: #FF385F;
    color: #151515;
}

.instt {
    background: #FF385F;
    color: #151515;
}

.linkk {
    background: #FF385F;
    color: #151515;
} 

.tags {
    background: #151515;
    color: #FF385F;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
}


.credits {
    padding: 0px;
    margin: 0px;
    color: #FF385F;
    background: #151515;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
}

.footerLinkz {
    height: 90px;
    width: 90px;
}

.openMenu {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: rgb(0, 0, 0, .8); 
    
    transform: translateX(160px);
    display: none;

}

.openMenu a {
    font-weight: 100px;
    color: rgba(255, 255, 255);
    font-size: 4rem;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#exitButton {
    color: white;
    margin-right: 80px;
    position: fixed;
    top: 12px;
    left: 95%;
    z-index: 8;
    transform: rotate(0deg);
    display: none;
}

.SeeMoreLink {
    color: #FF385F;
}

#MenuLogo2 {
    display: none;
}

#exitButton2 {
    color: white;
    margin-right: 80px;
    position: fixed;
    top: 26px;
    left: 90%;
    z-index: 8;
    transform: rotate(0deg);
    display: none;
}

.FullStackDescription {
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Athiti';
    font-size: 1.1rem;
}

 
@media (max-width: 1110px) {

    

    #MenuLogo {
        display: none;
        
    }

    #JHlogo {
        font-size: 40px;
        top: 26px;
    }


    #MenuLogo2 {
        display: block;
        color: white;
        
        position: fixed;
        z-index: 3;
        top: 26px;
        left: 90%;
        z-index: 6;
    }

    .secondSection {
        height: 100px;
    }

    .openMenu {

        /* background-image: radial-gradient( #303030, black); */
        background-image: linear-gradient(to bottom right, black, #0E0E0E);
        opacity: 0.5;
    }

    .openMenu a {
        font-size: 7rem;
    }

    #griipeScalerX2 {
        height: auto;
        display: block;
        text-align: center;
    }

    #griipeScale  {
        height: auto;
        display: block;
        text-align: center;
    }

    #profpicLinker {
        width: 100%;
        height: auto;
        text-align: center;
    }


    .secondSecWrapper {
        flex-direction: column;
        height: 900px;
  
    }

    .griipeContainer {
        flex-direction: column;
        align-items: center;

    }

    .profpic {
        margin: 20px 0px;
        width: 50%;
    }

    .secondSecContent  {
        width: 90%;
    }

    .secondSecContent p {
        font-size: 1.9rem;
    }

    .secondSection a {
        font-size: 2.5rem;
    }

    .secondSection {
        padding: 0px;
        justify-content: center;
    }

    .projectOne {
        width: 90%;
        height: auto;
    }

    #aaaa {
        font-size: 3rem;
    }

    .griipeText {
        width: 90%
    }

    .griipeText p {
        font-size: 1.9rem;
    }

    .griipeText h3 {
        font-size: 2.2rem;
    }

    .projectsTitle {
        font-size: 3rem;
    }

    #MenuLogo {

        left: 90%;
    }

    #exitButton {
        left: 90%;
    }

    .topSecContent h3 {
        font-size: 3.5rem;
    }

    #ViewMyWork {
        width: 250px;
        height: 80px;
        line-height: 2.5;
        font-size: 2rem;
    }
    
}

@media (max-width: 800px) {
    .secondSection a {
        font-size: 1.5rem;
    }

    .topSecContent h3 {
        font-size: 2.5rem;
    }

    /* #profPicID {
        height: 490px;
    } */

    #MenuLogo2 {
        left: 89%;
    }
}

@media (max-width: 600px) {
.griipeText p {
    font-size: 1.4rem;
}

.secondSecContent p {
    font-size: 1.4rem;
}

.secondSecWrapper {

    height: 650px;
}

    .secondSection a {
        margin: 0px;
        margin-left: 20px;
    }

.topSecContent h3 {
    text-align: center;
}
} 


@media (max-width: 925px) {
    .secondSection a {
        margin: 15px 2%;
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .secondSection a {
        font-size: 1.5rem;
        margin: 15px 2%;
    }
}

@media (max-width: 550px) {
    .secondSection a {
        font-size: 1.4rem;
        margin: 15px 1.5%;
    }

    #JHlogo {
        margin-left: 10px;
    }
}

@media (max-width: 475px) {
    .secondSection a {
        font-size: 1.2rem;
    }

    #MenuLogo2 {
        left: 85%;
    }
}