/* background-image: url("./code.jpg"); */


body {
    margin: 0px;
}

.topSection {
    overflow: hidden;
    height: 660px;
    width: 100%;
}

.introContainer {
   height: 100%;
   width: 100%;
   background-image: url("./codeworld.jpg");
   background-size: cover;
   filter: blur(3px);
   transform: scale(1.1);
}

.introText {
    color: white;

}

.topSecContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 250px;
    width: 100%;
}

.topSecContent h3 {
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 2.5rem;
    line-height: 1.2em;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

.topSecContent a {
    height: 45px;
    width: 160px;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
    line-height: 2.5;
}

.inline1 {
    color: #FF385F;
} 

 .navbarContent {
    z-index: 2;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.navbarContent i {
    color: white;
    margin-right: 30px;
}

.navbarContent a {
    color: white;
    margin-left: 30px;
    font-family: 'Aclonica';
    font-size: 30px;
} 

.secondSection {
    height: 60px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    background-color: #282828;
}

.secondSection a {
    font-size: 1.3rem;
    margin: 15px 30px;
    font-family: 'Athiti';
    color: white;
}