/* background-image: url("./code.jpg"); */


body {
    margin: 0px;
}

.topSection {
    overflow: hidden;
    height: 660px;
    width: 100%;
}

.introContainer {
   height: 100%;
   width: 100%;
   background-image: url("./codeworld.jpg");
   background-size: cover;
   filter: blur(3px);
   transform: scale(1.1);
}

.introText {
    color: white;
}

.topSecContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 250px;
    width: 100%;
}

.topSecContent h3 {
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 2.5rem;
    line-height: 1.2em;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

.topSecContent a {
    height: 45px;
    width: 160px;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
    line-height: 2.5;
}

.inline1 {
    color: #FF385F;
} 

 .navbarContent {
    z-index: 2;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.navbarContent i {
    color: white;
    margin-right: 30px;
}

.navbarContent a {
    color: white;
    margin-left: 30px;
    font-family: 'Aclonica';
    font-size: 30px;
} 

.secondSection {
    height: 60px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    background-color: #151515;
    border-bottom: 3px solid #3AE2D5;
}

.secondSection a {
    font-size: 1.3rem;
    margin: 15px 30px;
    font-family: 'Athiti';
    color: white;
}

.profpic {
    border-radius: 50%;
    width: 300px;
     border: 4px solid #3AE2D5;
     padding: 5px; 
}

.secondSecContent {
    width: 500px;
}

.secondSecWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
   
}

h2 {
  text-align: center;  
}

.secondSecContent p {
    font-size: 1.4rem;
    font-family: 'Athiti';
}

.introTitle {
    font-size: 2.6rem;
    color: black;
    font-family: 'Alegreya Sans SC';
    margin: 0px;
    margin-top: 25px;

}

.shortLine {
    width: 100px;
    height: 10px;
    border-bottom: 7px solid #FF385F;
    text-align: center;
}

.shortLineCover {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsTitle {
    font-size: 2.6rem;
    color: black;
    font-family: 'Alegreya Sans SC';
    margin: 0px;
    padding-top: 25px;
    background-color: #E1E1E1;
}

.projectOne {
    width: 500px; 
    height: 250px;
    border: 5px solid #3AE2D5;
    border-radius: 10px;
    padding: 5px;
}

.griipeContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #E1E1E1;
    padding-bottom: 30px;
}

.griipeText {
    width: 500px;
}

.griipeText {
    font-size: 1.4rem;
    font-family: 'Athiti';
}

.griipeText h3 {
    text-align: center;
}

.shortLineCover2 {
    background: #E1E1E1;
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    font-size: 1.1rem;
}

.secondg {

    flex-direction: row;
    background: #444444;
    padding: 60px 0px;
}

.secondg p {
    color: white;
}

.secondg h3 {
    color: white;
}

.secondg img {
    border: 5px solid #FF385F;
}

.thirdg {
    background: white;
}

.wayve {
    width: 100%;
    height: 50px;
    background: #E1E1E1;
}

.wayve2 {
    width: 100%;
    height: 20px;
    background: #444444;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wayve3 {
   height: 80px;
   width: 100%;
   background-color: #151515;
}

.plusone {
    color: #FF385F;
    background: #151515;
    padding: 0;
    font-size: 1.7rem;
  
}

footer div {
    display: flex;
    justify-content: center;
    background-color: #151515;
    padding: 10px 0px;

}

footer div i {
    background: #151515;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    margin: 20px;
}

 .gitt:hover {
    background: green;
}

.twitt:hover {
    background: #3AAAE2;
}

.instt:hover {
    background: purple;
}

.linkk:hover {
    background: blue;
} 

.tags {
    background: #151515;
    color: #FF385F;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
}

.credits {
    padding: 0px;
    margin: 0px;
    color: black;
    background: #151515;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Alegreya Sans SC';
    font-size: 1.1rem;
}

@media (max-width: 1110px) {
    .secondSecWrapper {
        flex-direction: column;
        height: 600px;
    }

    .griipeContainer {
        flex-direction: column;
    }

    .profpic {
        margin: 20px 0px;
    }

    .secondSection {
        padding: 0px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .projectone {
        width: 400px;
        height: 200px;
    }

    .secondSecWrapper {
        height: 700px;
    }

    .secondSecContent {
        width: 400px;
    }
 
    .griipetext {
        width: 400px;
    }

    .topSecContent h3 {
        text-align: center;
    }

    .secondSection a {
        margin: 0px;
        margin-left: 20px;
    }


}